*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font: 400 var(--font-size-base)/1.25 var(--font-stack-common);
	background: var(--color-background);
	color: var(--color-text);
	transition: filter .25s var(--ease-back-out);
	filter: blur(0);

	&:has(dialog[open]) {
		filter: blur(3px);
	}

	@starting-style {
		filter: blur(0);
		transition: filter .25s var(--ease-back-out);
	}
}
