PORT=<port>
HOST=<host>
CORS_ORIGIN=<allowed_origin_or_leave_empty_for_all>
LOGS_PATH=<path>
FILE_LOG=<filename>
FILE_STATUS=<filename>
SERVICES_LIST=[{ "name": "<app_name>", "url": "<app_url>" }]
SERVICES_TIMEOUT_MS=5000
AUTH_USERNAME=<your_username>
AUTH_PASSWORD=<your_password>
SESSION_SECRET=<secret_token>
