<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/styles/main.css">
	<script defer src="/assets/scripts/vendors/highlight.min.js"></script>
	<script defer src="/assets/scripts/vendors/languages/accesslog.min.js"></script>
	<script defer src="/assets/scripts/LogsManager.js" type="module"></script>
	<script defer src="/assets/scripts/ServiceStatusManager.js" type="module"></script>
	<script defer src="/assets/scripts/SSEManager.js" type="module"></script>
	<script defer src="/assets/scripts/main.js" type="module"></script>
	<title>Emmanuel Béziat :: Logs</title>

	<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=1" sizes="96x96">
	<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg?v=1">
	<link rel="shortcut icon" href="/favicons/favicon.ico?v=1">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=1">
	<meta name="apple-mobile-web-app-title" content="EB::State">
	<link rel="manifest" href="/favicons/site.webmanifest" crossorigin="use-credentials">
</head>
<body>
	<div class="page">
		<header class="header">
			<div class="header-title">Emmanuel Béziat <span>Logs</span></div>

			{% block header %}{% endblock %}
		</header>

		<main class="main">
			{% block main %}{% endblock %}
		</main>

		<footer class="footer">
			©️Emmanuel Béziat
		</footer>
	</div>
</body>
</html>
