<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/styles/main.css">
	<script defer src="/assets/scripts/main.js"></script>
	<title>Emmanuel Béziat :: Logs</title>
</head>
<body>
	<div class="page">
		<header class="header">
			<h1 class="header-title">Emmanuel Béziat <span>Logs</span></h1>
		</header>

		<main class="main">
			{% block main %}{% endblock %}
		</main>

		<footer class="footer">
			©️Emmanuel Béziat
		</footer>
	</div>
</body>
</html>
