{% extends "layout/index.njk" %}

{% block main %}
<div class="login-form">
  <h2>Login</h2>
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}

  <form action="/login" method="post" class="form">
		<input type="text" id="username" name="username" aria-label="Username" placeholder="MyName" required>
		<input type="password" id="password" name="password" aria-label="Password" placeholder="MyPassword" required>
		<button type="submit" class="button">Login</button>
  </form>
</div>
{% endblock %}
