<article class="log" data-state="{{ log.state }}">
	<header class="log-header">
		<h1 class="log-title">{{ log.name }}</h1>
		<div class="log-state">{{ log.state }}</div>
	</header>

	<div class="log-content">
		{% include "partials/modal.njk" %}
	</div>
</article>
