<button type="button" class="button log-details-opener">Logs details (<time data-realtime timestamp="{{ log.date }}">{{ log.date | formatDateRelative }}</time>)</button>
<dialog class="log-details-modal">
	<h2 class="log-details-name">{{ log.name }}</h2>

	<div class="log-details-code">
		<pre><code class="language-accesslog">{{ log.content }}</code></pre>
	</div>

	<button type="button" class="button log-details-closer" autofocus>Fermer</button>
</dialog>
